.page-header
  %h1= t '.title', :default => t("pages.header.headline")

.page-content
  = link_to t("pages.links.places"), places_path, :class => 'btn btn-primary'
%br
.page-content
  = link_to t("pages.links.routes"), routes_path, :class => 'btn btn-primary'