= select_tag 'place_id[]', options_for_select(all_places, selected: places_selected), {'multiple'=>'multiple', :id => 'multi-select'}

.div#map-container
  .div#map-canvas

:javascript
  $(function () {
    setMultiSelect();
    loadNotOnShow(true);
    initialize();

    $("#create-route").click(function (evt) {
      evt.preventDefault();
      sendWaypointsJSON();
      sendPlaces(placesID);
      document.location.href = '/routes/#{@route.id}';
    });
  });
