.div#map-container
  .div#map-canvas

%br
#create-route
  = link_to t('.ready', :default => t("helpers.links.save")), route_path(@route), :class => 'btn btn-primary'

:javascript
  $(function () {
    initialize();
    $("#create-route").click(function () {
      sendWaypointsJSON()
    });
  });