= select_tag 'place_id[]', options_for_select(all_places, selected: places_selected), {'multiple'=>'multiple', :id => 'multi-select'}

= text_field_tag 'pac-input', '', placeholder: 'Enter location...', size: 75, class: "controls"

.div#map-container
  .div#map-canvas

:javascript
  $(function () {
    setMultiSelect();
    loadNotOnShow(true);
    initialize();
  });
