.page-header
  %h1= t '.title', :default => t("pages.header.map")

= select_tag 'place_id[]', options_for_select(Place.all.collect{ |p| [p.identifier, p.id] }), {'multiple'=>'multiple', :id => 'multi-select'}

.div#map-container
  .div#map-canvas

%br
#create-route
  = link_to t('.ready', :default => t("helpers.links.save")), route_path(@route), :class => 'btn btn-primary'

:javascript
  $(function () {
    setMultiSelect();
    initialize();

    $("#create-route").click(function () {
      sendWaypointsJSON();
    });
  });
