= include_gon

.page-header
  %h1= t '.title', :default => t("pages.header.map")

= render ('map')

%br
#create-route
  = link_to t('.ready', :default => t("helpers.links.save")), route_path(@route), :class => 'btn btn-primary'
